*{
    margin: 0;
    padding: 0;
    
}
body{
    background: #8BD6EB;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
}

.aeroazul img{
    width: 200px;
    
}
.aeroazul{
    display: inline-block;
    position: absolute;
    top:10%;
}
figure img{
    width: 200px;
  
}
figure{
   text-align: center;

}



/*-------------  ANIMACION      ----*/



.objetoP{
         -webkit-animation: walkP 28.0s linear  infinite;
}
.objetoN{
         -webkit-animation: walkN 30.0s linear  infinite;
}

@-webkit-keyframes walkP{
    0% {
         
         left: -20%;
    }
    100% {
       
        left: 120%;
    }
    
}
@-webkit-keyframes walkN{
    0% {
         
         left: 100%;
    }
    100% {
       
        left: -20%;
    }
    
}
/*-------------  ANIMACION      ----*/