body{
    margin: 0;
}
.container{
    width: 100%;
    resize: none;
}
.mundo1{
  z-index: 1;
}
.mundo{
      display: inline-block;
      width: 200px;
      height:200px;

      background:url('img/tierra.png');
      border-radius: 50%;
      box-shadow: -40px -30px 0 0 rgba(0, 0, 0, .15) inset,
                  -70px -40px 0 0 rgba(0, 0, 0, .1)inset,
                  5px 5px 0 0 rgba(255,255, 255, .2)inset;
      background-size: cover;
      -webkit-animation: mundogirando 5s infinite linear;
}

.mundo-linea{
   display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;


}

.negro{

    background: #000120;
    left: 0%;
}


.verde{
    background: #2ecc71;
    left: 33.3%;
}
.azul{
    background: #2980b9;
    left: 66.6%;
}

.verde, .negro,.azul{
    width: 33.3%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.footer{
    width: 100%;
    color: aliceblue;
    font-size: 25px;
    display: inline-block;
    background: #c0392b;
}
@-webkit-keyframes mundogirando {
  from{
    background-position: left center;
  }
  to{
    background-position: -396px center;
  }
}

.triangulo-ezquinado{
    z-index: 2;
	width: 0;
	height: 0;
	border-top: 100px solid #00c4ff;
	border-right: 100px solid transparent;
    position: absolute;
    display: none;
}

.home{
    position: relative;
    -webkit-transform: rotate(315deg);
    top: -50px;
    left: 25px;
}